LABS/services/service_0.1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="service"
		xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
		xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
		xmlns:xsd="http://www.w3.org/2001/XMLSchema"
		xmlns:tns="http://www.talend.org/service/"
		targetNamespace="http://www.talend.org/service/">

	<wsdl:types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://www.talend.org/service/">
			<xsd:element name="serviceOperationRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="in" type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="serviceOperationResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="out" type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="serviceOperationRequest">
		<wsdl:part name="parameters" element="tns:serviceOperationRequest"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="serviceOperationResponse">
		<wsdl:part name="parameters" element="tns:serviceOperationResponse"></wsdl:part>
	</wsdl:message>

	<wsdl:portType name="servicePortType">
		<wsdl:operation name="serviceOperation">
			<wsdl:input message="tns:serviceOperationRequest"></wsdl:input>
			<wsdl:output message="tns:serviceOperationResponse"></wsdl:output>
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="serviceBinding" type="tns:servicePortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="serviceOperation">
			<soap:operation soapAction="http://www.talend.org/service/serviceOperation" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="service">
		<wsdl:port name="servicePort" binding="tns:serviceBinding">
			<soap:address location="http://localhost:8090/services/service" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>